.IGNORE {
    height: 10%;
    display: flex;
    /* this next border line is appearing all over app */
    /* border: 3px solid #1544a3; */
    border-radius: 10px;
    padding: 25px;
}

.test {
    border: 1px solid #1544a3;
    border-radius: 10px;
    padding: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}