.profGrid {
    background: linear-gradient(to right, #ffffff, #d7e1f5);
    margin-top: 8%;
    height: 10%;
    border: 3px solid #1544a3;
    border-radius: 10px;
    padding: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.form-control  {
    border: 1.5px solid #1544a3;
    padding: 13.5px;
    width: 25%;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bolder;
} 

.dbInfo  {
    border: 1.5px solid #1544a3;
    padding: 13.5px;
    border-radius: 20px;
}

.test {
    width: 100%;
    padding: 30px;
    margin-right: 30px;
}

input {
    border: 1.5px solid #1544a3;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    font-weight: bolder;
}

input:focus{
    background-color: #d8e2f9;
}

form {
    width: 100%;
    padding: 8px 25px 25px 30px;
}

.form-group {
    width: 360%;
}